<form>
    <div class="input-holder">
        <label>email:</label>
        <input #email (keyup)="this.checkEmailIsFree(email.value)" type="text" placeholder="Paste your email here"/>
    </div>
    <div class="input-holder">
        <label>password:</label>
        <input #password type="password" placeholder="Enter your password here"/>
    </div>
    <div class="input-holder">
        <button type="button" class="auth-button" [disabled]="canLogin">LOGIN</button>
        <button type="button" class="auth-button" [disabled]="canRegister">REGISTER</button>
    </div>
</form>