.room-holder{
    width: 100%;
    height: 70%;/*temporary !*/
    background: #f0f0f4;
    padding: 1em;
    margin: 0;
}

.message-input {
    margin: auto;
    align-self: center;
    width: 70%;
}