<form>
    <div class="input-wrapper">
        <input tabindex="1" class="input-holder" #email (keyup)="this.checkEmailIsFree(email.value)"
               type="text" placeholder="Enter your email"/>
    </div>
    <div class="input-wrapper">
        <input tabindex="2" class="input-holder" #password type="password" placeholder="Enter your password"/>
    </div>
    <div class="input-wrapper" [ngClass]="{'invisable' : !canRegister}">
        <input tabindex="3" class="input-holder" #passwordConf type="password" placeholder="Confirm your password"/>
    </div>
    <div class="buttons-wrapper">
        <button tabindex="4" type="button" class="button-holder" autofocus [disabled]="!canLogin"
            (click)="login(email.value, password.value)">LOGIN</button>
        <button tabindex="5" type="button" class="button-holder" [disabled]="!canRegister"
            (click)="register(email.value, password.value, passwordConf.value)">REGISTER</button>
        <p class="help-text" [ngClass]="{'non-displayable': canRegister || canLogin}">
            Just fill the above statements to log in.
        </p>
    </div>
</form>